﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PaginaEvaluarVisitaTecnica.aspx.cs" Inherits="ProyectoFase2IPC2.PaginaEvaluarVisitaTecnica" %>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Evaluacion-Tecnica-Page</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, 
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- /google fonts-->

</head>


<body class="FondoTecnico" >
    <form id="form1" runat="server">
        <div>
    <h1  class="OtroH11">MODULO TECNICO</h1>
            <h1  class="OtroH11">
&nbsp;<asp:DropDownList ID="ComboxSeleccionarEmpresa" runat="server" Height="54px" Width="193px" style="margin-left: 0px">
                    <asp:ListItem>Seleccionar_Recorrido</asp:ListItem>
                </asp:DropDownList>
&nbsp;
                <asp:Button ID="BuscarRecorridoEvaluar" runat="server" class="BotonesC" Text="OBTENER RECORRIDO" />
            &nbsp;&nbsp;</h1>
            
            
        

            <br />

        </div>
            <div style="margin-left:200px">

            <asp:CheckBoxList ID="CheckBoxList1"   runat="server" BackColor="Black" ForeColor="White">
                <asp:ListItem>Wifi</asp:ListItem>
                <asp:ListItem>Cable</asp:ListItem>
                <asp:ListItem>AguaCaliente</asp:ListItem>
                <asp:ListItem>Bar</asp:ListItem>
                <asp:ListItem>s</asp:ListItem>
                <asp:ListItem>ss</asp:ListItem>
                <asp:ListItem>ww</asp:ListItem>
                <asp:ListItem>www</asp:ListItem>
            </asp:CheckBoxList>

        </div>


    <div class="OtroH11">
 
        <br />
        <br />
        <br />
        

        
        

        
        <asp:Button ID="AprovarVisitaEvaluada" runat="server" class="BotonesC" Text="APROBAR EVALUACION" />
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;<br />
        <br />

        <br />

    </div>
   
    </form>
   
    

    

</body>

</html>

