﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PaginaVisitaTecnica.aspx.cs" Inherits="ProyectoFase2IPC2.PaginaVisitaTecnica" %>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Asignar-Visita-Page</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, 
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- /google fonts-->

</head>


<body class="FondoTecnico">
    <form id="form1" runat="server">
        <div>
    <h1  class="OtroH11">MODULO TECNICO</h1>
            <h1  class="OtroH11">
&nbsp;<asp:DropDownList ID="ComboxSeleccionarEmpresa" runat="server" Height="54px" Width="193px" style="margin-left: 0px">
                    <asp:ListItem>Seleccionar_Empresa</asp:ListItem>
                </asp:DropDownList>
&nbsp;
                <asp:Button ID="BuscarEmpresaVisita" runat="server" class="BotonesC" Text="OBTENER EMPRESA" />
            &nbsp;</h1>
            <div style="margin-left: 10px">

                
                <asp:Calendar ID="Calendar1" runat="server" Height="80px" Width="184px" BackColor="White" BorderColor="Black" BorderStyle="Solid" CellSpacing="1" Font-Names="Verdana" Font-Size="9pt" ForeColor="Black" NextPrevFormat="ShortMonth">
                    <DayHeaderStyle Font-Bold="True" Font-Size="8pt" ForeColor="#333333" Height="8pt" />
                    <DayStyle BackColor="#CCCCCC" />
                    <NextPrevStyle Font-Bold="True" Font-Size="8pt" ForeColor="White" />
                    <OtherMonthDayStyle ForeColor="#999999" />
                    <SelectedDayStyle BackColor="#333399" ForeColor="White" />
                    <TitleStyle BackColor="#333399" BorderStyle="Solid" Font-Bold="True" Font-Size="12pt" ForeColor="White" Height="12pt" />
                    <TodayDayStyle BackColor="#999999" ForeColor="White" />



                </asp:Calendar> &nbsp;<br />
&nbsp;&nbsp;&nbsp;
                <asp:Label ID="LabelFechaRecorrido" runat="server" BackColor="White" Font-Bold="True" ForeColor="Black" Text="Fecha de Recorrido:"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Label ID="LabelNombreReco" runat="server" BackColor="White" Font-Bold="True" Text="Nombre_De_Recorrido :"></asp:Label>
                <br />
                <br />
                <asp:TextBox ID="TextBoxFechaRecorrido" runat="server" BackColor="White" BorderColor="Black" BorderStyle="Solid" Width="144px"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="TextBoxNombreRecorrido" runat="server" BackColor="White" BorderColor="Black" BorderStyle="Solid" Width="151px"></asp:TextBox>

               

                <br />

               

                <div style="margin-left:500px">
     <asp:GridView ID="GridView1" runat="server">
                </asp:GridView>

                </div>

           
               

               

        </div>


            <br />

        </div>


    <div>
 
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        
        <asp:Button ID="Cargar_VisitaTecnica" runat="server" class="BotonesC" Text="CARGAR VISITA" />
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <br />
        &nbsp;&nbsp;<br />
        <br />

        <br />

    </div>
       


    


    </form>
   
    

    

</body>

</html>